*{
    box-sizing: border-box;
}
header{
    background-color: #848487;
    width: 100%;
}
a{
    color: black;
    display: inline-block;
    text-decoration: none;
}
a:hover{
    color: blue;
}

.ittybittydivvycommitee{
    margin: 0;
    padding: 10px;
}

    #nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        #leftstuff{
            display: flex;
            flex-direction: row;
            font-size: small;
            font-family: 'Work Sans', sans-serif;
            font-weight: bold;
        }

        #middlething{
            font-size: 3em;
            padding: .2em 0;
            font-family: 'Montserrat', sans-serif;
        }

        #rightstuff{
            display: flex;
            flex-direction: row;
            font-size: small;
            font-family: 'Work Sans', sans-serif;
            font-weight: bold;
        }