*{
    box-sizing: border-box;
}

#BiggestBaddestDiv{}

body{
    /*background-color: #76B2BB;*/
}

/*Jumbotron Stuff*/
.jumbotron{
    margin-bottom: 10px;
    background-color: #76B2BB;
}

/*Nav Bar Stuff*/
#nav-tabs{
    height: 50px;
}
a{
    color: black;
}
a:hover{
    color: black;
    background-color: paleturquoise;
}


/*FONTS*/
.HFont{
    font-family: 'Merriweather', serif;
}
.SHFont{}
.BFont{}

